# VLOOKUP

=VLOOKUP(lookup_value,table_array,col_index_num)

## Import Dependencies

In [1]:
import pandas as pd

## Import Data

In [2]:
df = pd.read_csv('vlookup.csv')
df

  Letter  Number     Name
0      a       1    Alice
1      b       2      Bob
2      c       3  Charlie
3      d       4    Diane
4      e       4     Elen

In our data, we have columns. ___Letter___, ___Number___ and ___Name___

## Problem

Lookup for the ___Name___ of ___Number___ 4.

## Answer

If we do a ___VLOOKUP___ in Excel, we'd get _Diane_ as the answer.

Using the ___VLOOKUP___ formula, we know that our:

- ___lookup_value___ is _4_
- ___col_index_num___ is _2_ using the
- ___table_array___ columns from ___Number___ to ___Name___

In [3]:
lookup_value = 4
col_index_num = 2

## Get table_array

In [4]:
table_array = df.loc[:,'Number':'Name']
table_array

   Number     Name
0       1    Alice
1       2      Bob
2       3  Charlie
3       4    Diane
4       4     Elen

Let's breakdown `df.loc`.

The first label that we used is a `:`. This is to get the rows that we need, which is everything. So, in this case, `:` means everything.

The second label that we used is `'Number':'Name'`. This is to indicate what we want all columns from ___Number___ to ___Name___.

Using our `table_array`, let's find out how we can get our answer _Diane_.

## Get the answer

### Step 1 - Get the name of the column where we want to look for our lookup value.

In [5]:
col_name_to_look_for_lookup_value = table_array.columns[0]
col_name_to_look_for_lookup_value

'Number'

`table_array.columns[0]`

`0` is used here because we know that in doing vlookups, it's always the first column where we look for our lookup value. Thus, `0` means first column.

### Step 2 - Get the name of the column where we want to look for our answer.

In [6]:
col_name_to_look_for_answer = table_array.columns[col_index_num-1]
col_name_to_look_for_answer

'Name'

We have to subtract `1` from `col_index_num` because Python starts counting from zero.

### Step 3 - Get the details of the column name that we got from Step 1.

In [7]:
col_to_look_for_lookup_value = table_array[col_name_to_look_for_lookup_value]
col_to_look_for_lookup_value

0    1
1    2
2    3
3    4
4    4
Name: Number, dtype: int64

`table_array[col_name_to_look_for_lookup_value]` is the same as `table_array['Number']`.

This is how we get the details for column ___Number___.

### Step 4 - Get the details of the column name that we got from Step 2.

In [8]:
col_to_look_for_answer = table_array[col_name_to_look_for_answer]
col_to_look_for_answer

0      Alice
1        Bob
2    Charlie
3      Diane
4       Elen
Name: Name, dtype: object

`table_array[col_name_to_look_for_answer]` is the same as `table_array['Name']`.

This is how we get the details for column ___Name___.

### Step 5 - Get the index of the first instance of our lookup value.

From the output above, the _index_ we are looking for is _index_ _3_.

_Index_ is the one on the left side of the output. It's like Excel's row number but counted from zero.

In [9]:
col_to_look_for_lookup_value[col_to_look_for_lookup_value == lookup_value]

3    4
4    4
Name: Number, dtype: int64

By running the above code, we got all the rows where ___Number___ is equal to our `lookup_value`.

To get the indexes, we run the following code:

In [10]:
col_to_look_for_lookup_value[col_to_look_for_lookup_value == lookup_value].index

Int64Index([3, 4], dtype='int64')

And because we have multiple instances of our matched `lookup_value`, we just need to get the first one, the same as Excel's ___VLOOKUP___.

In [11]:
index_of_lookup_value = col_to_look_for_lookup_value[col_to_look_for_lookup_value == lookup_value].index[0]
index_of_lookup_value

3

Now that we got the _index_ that we are looking for, let's proceed to the next step.

### Step 6 - Get the answer that we are looking for.

Because we already got the _index_ of the column where we look for the `lookup_value`, we just need to use that _index_ to get the value that we are looking for.

In [12]:
col_to_look_for_answer[index_of_lookup_value]

'Diane'

Now that we got our answer. Let's combine all what we've done to create a Python ___VLOOKUP___ function

## Python VLOOKUP function

In [13]:
def vlookup(lookup_value,table_array,col_index_num):
    col_to_look_for_answer = table_array[table_array.columns[col_index_num-1]]
    col_to_look_for_lookup_value = table_array[table_array.columns[0]]
    index_of_lookup_value = col_to_look_for_lookup_value[col_to_look_for_lookup_value == lookup_value].index[0]
    return col_to_look_for_answer[index_of_lookup_value]

Finally, let's try it!

In [14]:
lookup_value = 4
col_index_num = 2
table_array = df.loc[:,'Number':'Name']
result = vlookup(lookup_value,table_array,col_index_num)
result

'Diane'

If you use ___VLOOKUP___ _(what are you doing with Excel if you don't? Lol)_, I'm sure that you observed that there's something missing in our formula. In Excel's ___VLOOKUP___ formula, we have to put _True_ or _False_ after _col_index_num_ to indicate whether we are looking for _Approximate Match_ or _Exact Match_. I explicitly removed that from our Python function. Thus, it always retrieves the _Exact Match_.